@import 'common.scss';
@import 'variables.scss';

// Mixins
@mixin flex($align: null, $justify: null, $direction: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  direction: $direction;
}

// Placeholders
%cPointer {
  cursor: pointer;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
  text-align: center;
  &-header {
    font-size: 40px;
    color: #CCC;
    padding-top: 24px;
  }
}

.form {
  box-shadow: 0 2px 4px rgba(0,0,0,0.16);
}

.input {
  &-container {
    position: relative;
    margin: 48px auto;
    width: 480px;
    border: none;
  }
  padding: 4px 12px;
  border: 0;
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: #555;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #CCC;
  }

  &-title {
    height: 44px;
    border-bottom: 1px solid #EEE;
  }

  &-description {
    padding-right: 56px;
    resize: none;
    font: unset;
  }
}

.submit {
  position: absolute;
  bottom: -44px;
  width: 100%;
  &-btn {
    width: inherit;
    padding: 9px 0;
    border: 0;
    border-radius: 2px;
    background-color: #00BCD4;
    color: $white-e;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

.list {
  &-container {
    margin: 120px auto;
    padding: 4px 0;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(140px, auto);
    grid-gap: 12px;
  }
  &-item {
    @extend %cPointer;
    position: relative;
    padding-top: 32px;
    color: #555;
    letter-spacing: 0.025rem;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #FFF;
    &:hover {
      .list-item-delete {
        display: flex;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #EEE;
    }

    &-mark {
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;
      height: 18px;
      opacity: 0.75;
      margin: 8px;
    }

    &-completed {
      text-decoration: line-through;
      color: #DDD;
    }

    &-edit {
      padding: 3px 12px;
      border: 0;
      border-bottom: 1px solid #EEE;
      width: 100%;
      height: 32px;
      font: unset;
      font-size: 14px;
      &:focus {
        outline: 0;
      }
    }
    &-desc {
      padding: 4px 12px 0;
      width: 100%;
      resize: none;
      font: unset;
      border: 0;
      font-size: 14px;
      &:focus {
        outline: 0;
      }
    }

    &-delete {
      @include flex(center, center);
      margin: 4px;
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 28px;
      height: 28px;
      color: #AAA;
      font-size: 28px;
    }
  }
}
