@import 'common.scss';

// Mixins
@mixin flex($align: null, $justify: null, $direction: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  direction: $direction;
}

// Placeholders
%cPointer {
  cursor: pointer;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
  overflow-y: auto;
  &-header {
    font-size: 40px;
    color: #CCC;
    padding-top: 24px;
    text-align: center;
  }
}

.form {
  box-shadow: 0 2px 4px rgba(0,0,0,0.16);
}

.input {
  &-container {
    position: relative;
    margin: 48px auto;
    width: 480px;
    border: none;
  }
  padding: 4px 12px;
  border: 0;
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: #555;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #CCC;
  }

  &-title {
    height: 44px;
    border-bottom: 1px solid #EEE;
  }

  &-description {
    resize: none;
    font: unset;
  }

  &-datetime {
    padding: 6px 12px;
    border: 0;
    border-top: 1px solid #EEE;
    width: 100%;
    color: #555;
  }
}

.submit {
  position: absolute;
  bottom: -44px;
  width: 100%;
  &-btn {
    width: inherit;
    padding: 9px 0;
    border: 0;
    border-radius: 2px;
    background-color: #00BCD4;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

.list {
  &-container {
    margin: 120px 32px 32px;
    padding: 4px 0;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(160px, auto);
    grid-gap: 12px;
  }
  &-item {
    @extend %cPointer;
    position: relative;
    color: #555;
    letter-spacing: 0.025rem;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #FFF;
    &:hover {
      .list-item-delete {
        visibility: visible;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #EEE;
    }

    &-mark {
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;
      height: 18px;
      opacity: 0.75;
      margin: 8px;
    }

    &-completed {
      text-decoration: line-through;
      color: #DDD;
    }

    &-edit {
      padding: 3px 12px;
      border: 0;
      border-bottom: 1px solid #EEE;
      width: 100%;
      height: 32px;
      font: unset;
      font-size: 14px;
      font-weight: bold;
      &:focus {
        outline: 0;
      }
    }
    &-desc {
      padding: 4px 12px 0;
      width: 100%;
      resize: none;
      font: unset;
      border: 0;
      font-size: 14px;
      &:focus {
        outline: 0;
      }
    }

    &-delete {
      visibility: hidden;
      width: 100%;
      font-size: 28px;
      color: #E57373;
      text-align: center;
      background-color: #F5F5F5;
    }

    &__reminder {
      @include flex(center, center);
      margin-top: 8px;
      padding: 8px 12px;
      min-height: 28px;
      color: #FFF;
      font-size: 12px;
      background-color: #E57373;
      &-completed {
        background-color: #81C784;
        transition: all 240ms ease;
      }
    }
  }
}
